@import '../../node_modules/react-redux-toastr/src/styles/index';
.nav{
  display:flex;
  flex-grow: 1;
  text-align: left;
}

.subnav{
  display:flex;
  flex-grow: 1;
  text-align: left;
  font-weight: 200!important;
}
a{
  text-decoration: none;
  color:inherit;
}